<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <%- messages() %>

            <% if (errors) { %>
                <ul class="failure">
                    <% errors.array().forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                            <% } %>
                </ul>
                <%- main %>
                    <% if (reviews) { %>
                        <div class="reviewsContainer">
                            <h2>My Reviews</h2>
                            <%- reviews %>
                        </div>
                        <% } %>