<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <%- messages() %>

            <% if (errors) { %>
                <ul class="notice">
                    <% errors.array().forEach(error=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }) %>
                </ul>
                <% } %>

                    <div class="registerContainer">
                        <form id="registerForm" action="/account/register" method="post">
                            <fieldset>
                                <legend>User details</legend>
                                <br>
                                <label for="account_firstname" class="required">First name</label>
                                <input type="text" name="account_firstname" id="account_firstname" required
                                    placeholder="Jane" autofocus value="<%= locals.account_firstname %>">
                                <label for="account_lastname" class="required">Last name</label>
                                <input type="text" name="account_lastname" id="account_lastname" required
                                    placeholder="Doe" value="<%= locals.account_lastname %>">
                                <label for="account_email" class="required">Email</label>
                                <input type="email" name="account_email" id="account_email" required
                                    placeholder="someone@mail.com" value="<%= locals.account_email %>">
                                <label for="account_password" class="required">Password</label>
                                <input type="password" name="account_password" id="account_password"
                                    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
                                <p id="requirements">Passwords must be at least 12 characters and contain 1 uppercase
                                    letter, 1
                                    number,
                                    and 1 special
                                    character.</p>
                                <span id="showPswBtn">Show Password</span>
                                <input type="submit" value="Register">
                            </fieldset>
                        </form>
                    </div>
                    <script src="/js/script.js"></script>